page-editar-conta {
  .form-login {
    text-align: center;
  }

  // Classe para forçar cor de fundo em alguns componentes
  .color-forced {
  }

  .text-login {
    width: auto;
    text-align: center;
    margin-top: 10%;
  }
}
