page-login {

  .back-color {
    background-color: #00796B;
  }

  .logo {
    width: auto;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
  }

  .form-login {
    margin-top: 35%;
    text-align: center;
    color: white;
  }

  // Classe para forçar cor de fundo em alguns componentes
  .color-forced {
    background-color: #00796B;
    color: white;
  }

  .text-cadastrar {
    width: auto;
    color: white;
    text-align: center;
    margin-top: 30%;
  }
}
