<ion-header>

  <ion-navbar color="dark-primary-color">
    <ion-title>{{ user.nome_usuario }}</ion-title>

    <ion-buttons right>
      <button ion-button (click)="pageEditarConta()"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row  style="text-align: center; padding-right: 3%; margin-top: 3%">
    <ion-col width-33>
      <span *ngIf="user.foto_perfil">
        <img id="foto_perfil" [src]="user.foto_perfil" width="80" height="90">
      </span>
    </ion-col>
    <ion-col width-67>
      <ion-row>
        <ion-col width-33>
          <span class="quant">{{ user.postagens.length }}</span> <br>
          <span class="texto-quant">Publica...</span>
        </ion-col>
        <ion-col width-33>
          <span class="quant">{{ user.seguidores.length }}</span> <br>
          <span class="texto-quant">Segui...</span>
        </ion-col>
        <ion-col width-33>
          <span class="quant">{{ user.seguindo.length }}</span> <br>
          <span class="texto-quant">Seguindo</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button full color="default-primary-color">Seguir</button>
      </ion-row>
    </ion-col>
  </ion-row>

  <div style="padding: 5% 7% 0 7%;">
    <ion-row>
      {{ user.nome }}
    </ion-row>

    <ion-row>
      {{ user.descricao }}
    </ion-row>
  </div>

  <div style="margin-top: 10%;">

    <!-- <ion-row >
      <ion-col width-100>

      </ion-col>
    </ion-row> -->

    <ion-list>
      <ion-item style="text-align: center; background-color: #B2DFDB;" *ngFor="let post of user.postagens">
        <img height="200" [src]="post.foto">
      </ion-item>
    </ion-list>
  </div>




</ion-content>
