page-inicio {
  #foto_perfil {
    border-radius: 10px;
  }

  .foto_user {
    text-align: center !important;
  }

  .desc-picture {
    margin: auto 2%;
    font-weight: bold;
    text-align: justify;
  }

  .values_post {
    font-weight: bold;
    font-size: 12px;
    margin-left: 2%;
  }

  .like-button {
    width: 10px !important;
  }

  .comment {
    font-size: 10px;
  }

  .send-comment {
    margin-left: -50%;
  }
}
